server:
  port: ${vault.port}

spring:
  config:
    activate:
      on-profile: prod

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect

logging:
  level:
    org:
      apache:
        coyote:
          http11: error
      hibernate:
        SQL: error
